*
{
    margin: 0;
    padding: 0;
}

.content
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

.header
{
    background-color: white;
    display: grid;
    gap: 10px;
}

.header .top-section
{
    display: grid;
    grid-template-columns: 2fr 1fr;

    padding-top: 20px;
}

.top-section .searchbar
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;

    padding-left: 40px;
}

.searchbar #search
{
    width: 500px;
}

.top-section .profile
{
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 15px;
}

.header .bottom-section
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 20px;
    padding-bottom: 10px;
}

.bottom-section .welcome
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 15px;
}

.welcome .profile-img
{
    grid-row: 1 / 3;
    padding-left: 50px;
}

.bottom-section .buttons
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    padding-right: 40px;
}

.sidebar
{
    background-color: aqua;
    grid-row: 1 / 3;

    display: grid;
    row-gap: 60px;
}

.sidebar .branding
{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 15px;

    padding-left: 15px;
    padding-top: 20px;
}

.sidebar ul
{
    list-style: none;
    padding-left: 30px;

    display: grid;
    row-gap: 10px;
}

.sidebar ul li
{
    color: white;
    font-size: 20px;
    font-weight: bold;


    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 10px;
}

.sidebar ul .section-divider
{
    padding-top: 50px;
}

.main-content
{
    background-color: #cdc8c8;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    padding: 20px 10px 40px 10px;
}

.main-content .your-projects
{    
    display: grid;
    grid-template-rows: auto 1fr;

    grid-row: 1 / 3;
}

.your-projects .projects
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    padding: 20px 0;
}

.projects .card-project
{
    background-color: white;

    display: grid;
    grid-template-rows: auto 1fr auto;
    
    padding: 25px;

    border-radius: 15px;
}

.card-project .card-icons
{
    display: grid;
    justify-content: end;
    grid-auto-flow: column;

    gap: 10px;
    
    margin-top: 10px;
}

.main-content .announcements
{
    display: grid;
    grid-template-rows: auto 1fr;

    gap: 20px;
}

.announcements .content
{
    background-color: white;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;

    padding: 30px;

    border-radius: 15px;
}

.announcements .card
{
    padding-bottom: 20px;
}

.announcements .card:not(:last-child)
{ 
    border-bottom: 1px solid black;
}

.main-content .trending
{
    background-color: white;
}