*
{
    margin: 0;
    padding: 0;
}

.content
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

.header
{
    background-color: white;
    display: grid;
    gap: 10px;
}

.header .top-section
{
    display: grid;
    grid-template-columns: 2fr 1fr;

    padding-top: 20px;
}

.top-section .searchbar
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;

    padding-left: 40px;
}

.searchbar #search
{
    width: 500px;
}

.top-section .profile
{
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 15px;
}

.sidebar
{
    background-color: aqua;
    grid-row: 1 / 3;

    height: 200px;
}

.main-content
{
    background-color: #cdc8c8;
}